/* ================= RESET ================= */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Inter',sans-serif;
}

/* ================= BODY ================= */
body{
    background:#f8fafc;
    color:#0f172a;
    animation:fadeIn 0.6s ease;
     max-width:100%;
    overflow-x:hidden;
}

/* PAGE ANIMATION */
@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(10px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

/* ================= NAVBAR ================= */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    background:white;
    border-bottom:1px solid #e2e8f0;
}

.nav-right{
    display:flex;
    gap:15px;
    align-items:center;
}

.whatsapp-btn{
    background:#22c55e;
    color:white;
    padding:6px 12px;
    border-radius:6px;
    text-decoration:none;
}

/* ================= HERO ================= */
.hero {
    background: linear-gradient(135deg, #2563eb, #1e40af);
    color: white;
    padding: 80px 20px;
    text-align: center;
    border-radius: 0 0 40px 40px;
}

.hero h1 {
    font-size: 40px;
    font-weight: 700;
}

.hero p {
    opacity: 0.9;
    margin-top: 10px;
}

/* ================= TOGGLE ================= */
.toggle{
    position:relative;
    display:flex;
    background:#e2e8f0;
    border-radius:50px;
    padding:4px;
    width:260px;
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.08);
    margin : 20px auto 0 auto

}

.toggle-bg{
    position:absolute;
    top:4px;
    left:4px;
    width:calc(50% - 4px);
    height:calc(100% - 8px);
    background:#2563eb;
    border-radius:50px;
    transition:0.3s ease;
}

/* when switching to right */
.toggle.active-right .toggle-bg{
    left:calc(50% + 0px);
}

.toggle button{
    flex:1;
    border:none;
    background:none;
    padding:10px;
    cursor:pointer;
    z-index:1;
    font-weight:500;
    border-radius:50px;
    transition:0.2s;
     font-weight:600;
    letter-spacing:0.3px;
}

.toggle button.active{
    color:white;
}

/* ================= TRUST ================= */
.trust{
    display:flex;
    justify-content:center;
    gap:30px;
    padding:12px;
    background:#f1f5f9;
    font-size:13px;
    color:#334155;
}

/* ================= REPAIR ================= */
.repair-section{
    text-align:center;
    padding:40px 20px;
}

.repair-box{
    display:flex;
    justify-content:center;
    gap:10px;
    margin-top:10px;
}

.repair-box input{
    padding:10px;
    width:250px;
    border-radius:6px;
    border:1px solid #ccc;
    transition:0.2s;
}

.repair-box input:focus{
    outline:none;
    border-color:#2563eb;
    box-shadow:0 0 0 2px rgba(37,99,235,0.15);
}

.repair-box button{
    background:#2563eb;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:6px;
    cursor:pointer;
}

/* ================= REPAIR RESULT ================= */
#repairResult{
    margin-top:20px;
}

.repair-card{
    background:white;
    padding:18px;
    border-radius:12px;
    border:1px solid #e2e8f0;
    width:280px;
    margin:auto;
    text-align:left;
    animation:fadeIn 0.4s ease;
}

.repair-card h3{
    margin-bottom:10px;
}

/* STATUS */
.status{
    margin-top:12px;
    padding:6px 10px;
    border-radius:6px;
    font-size:13px;
    font-weight:600;
    display:inline-block;
}

.status.pending{
    background:#fef3c7;
    color:#92400e;
}

.status.ready{
    background:#dcfce7;
    color:#166534;
}

/* ================= PRODUCTS ================= */
.products{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
    padding:40px;
}

/* ================= CARD ================= */
.card {
    background: white;
    border-radius: 16px;
    padding: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.12);
}



/* BADGE */
.badge{
    position:absolute;
    top:10px;
    left:10px;
    background:#22c55e;
    color:white;
    padding:3px 10px;
    border-radius:12px;
    font-size:12px;
}

/* IMAGE */
.image-box {
    background: #f1f5f9;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
     position: relative;
}

.image-box img {
    max-height: 150px;
    object-fit: contain;
}

/* CONTENT */

.card h3{
    margin:10px 0;
}

.card ul{
    font-size:14px;
    color:#64748b;
    padding-left:18px;
}

.card ul li{
    margin-bottom:4px;
}

/* PRICE */
.price{
    color:#16a34a;
    font-weight:700;
}

/* BOTTOM */
.bottom-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:10px;
}

/* BUTTONS */
.view-btn{
    background:#2563eb;
    color:white;
    border:none;
    padding:7px 14px;
    border-radius:8px;
    cursor:pointer;
    font-size:13px;
    transition:0.2s;
}

.view-btn:hover{
    background:#1d4ed8;
    transform:translateY(-2px);
    box-shadow:0 6px 15px rgba(37,99,235,0.25);
}

.call-btn{
    background:transparent;
    border:none;
    color:#2563eb;
    font-size:13px;
    cursor:pointer;
}

.call-btn:hover{
    color:#1d4ed8;
}

/* ================= STORE ================= */
.store{
    display:flex;
    gap:30px;
    padding:50px;
    background:#f1f5f9;
}

.store-left{
    flex:1;
}

.store-map{
    flex:1;
    border-radius:10px;
    overflow:hidden;
}

/* ================= CTA ================= */
.cta {
    background: linear-gradient(135deg, #020617, #0f172a);
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.cta h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.cta button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    margin: 10px;
    cursor: pointer;
}

.call-btn {
    background: #2563eb;
    color: white;
}

.whatsapp-btn {
    background: #22c55e;
    color: white;
}


.footer-admin{
    background:#020617;   /* same as your footer */
    text-align:center;
    padding:12px 0;
}

.footer-admin a{
    color:#64748b;
    font-size:12px;
    text-decoration:none;
    letter-spacing:0.5px;
}

.footer-admin a:hover{
    color:#94a3b8;
}

/* ================= RESPONSIVE ================= */
@media(max-width:768px){

    /* NAVBAR */
    .navbar{
        padding:12px 15px;
        flex-direction:row;
        justify-content:space-between;
         gap:10px;
    }

    .navbar h2{
        font-size:18px;
    }

     .nav-right span{
        display:none; /* hide number */
    }

   

    /* HERO */
    .hero{
        padding:40px 15px;
    }

    .hero h1{
        font-size:26px;
        line-height:1.3;
    }

    .hero p{
        font-size:13px;
    }

    /* TOGGLE */
    .toggle{
        width:200px;
    }

    .toggle button{
        padding:8px;
        font-size:13px;
    }

    /* TRUST STRIP */
    .trust{
        flex-direction:column;
        gap:5px;
        font-size:12px;
        text-align:center;
    }

    /* REPAIR */
    .repair-box{
        flex-direction:column;
        align-items:center;
    }

    .repair-box input{
        width:100%;
        max-width:280px;
    }

    /* PRODUCTS */
    .products{
        padding:20px;
        grid-template-columns:1fr;
    }

    /* STORE SECTION */
    .store{
        flex-direction:column;
        padding:30px 15px;
    }

    .store-map{
        height:200px;
    }

    /* CTA */
    .cta{
        padding:30px 15px;
    }

    .cta-buttons{
        flex-direction:column;
        gap:10px;
    }
}

